:host {
  display: inline-block;
  position: relative;
  & button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    &:focus {
      outline-color: var(--gse-ui-avatar-focus);
      outline-style: solid;
      outline-offset: var(--gse-semantic-focusRing-offset);
      &:has(.gux-large) {
        outline-width: var(--gse-ui-avatar-focusRing-large-border-width);
      }
      &:has(.gux-medium) {
        outline-width: var(--gse-ui-avatar-focusRing-medium-border-width);
      }
      &:has(.gux-small) {
        outline-width: var(--gse-ui-avatar-focusRing-small-border-width);
      }
      &:has(.gux-xsmall) {
        outline-width: var(--gse-ui-avatar-focusRing-xsmall-border-width);
      }
    }
  }
}

.gux-avatar {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  &.gux-large {
    width: var(--gse-ui-avatar-large-size);
    height: var(--gse-ui-avatar-large-size);
    & .content {
      height: calc(100% - var(--gse-ui-avatar-large-statusRing-width) * 2);
      width: calc(100% - var(--gse-ui-avatar-large-statusRing-width) * 2);
      margin: var(--gse-ui-avatar-large-statusRing-width);
      border-width: var(--gse-ui-avatar-content-large-border-width);
      font-size: var(--gse-ui-avatar-large-initials-fontSize);
    }
  }

  &.gux-medium {
    width: var(--gse-ui-avatar-medium-size);
    height: var(--gse-ui-avatar-medium-size);
    & .content {
      height: calc(100% - var(--gse-ui-avatar-medium-statusRing-width) * 2);
      width: calc(100% - var(--gse-ui-avatar-medium-statusRing-width) * 2);
      margin: var(--gse-ui-avatar-medium-statusRing-width);
      font-size: var(--gse-ui-avatar-medium-initials-fontSize);
    }
  }

  &.gux-small {
    width: var(--gse-ui-avatar-small-size);
    height: var(--gse-ui-avatar-small-size);
    & .content {
      height: calc(100% - var(--gse-ui-avatar-small-statusRing-width) * 2);
      width: calc(100% - var(--gse-ui-avatar-small-statusRing-width) * 2);
      margin: var(--gse-ui-avatar-small-statusRing-width);
      font-size: var(--gse-ui-avatar-small-initials-fontSize);
    }
  }

  &.gux-xsmall {
    width: var(--gse-ui-avatar-xsmall-size);
    height: var(--gse-ui-avatar-xsmall-size);
    & .content {
      height: calc(100% - var(--gse-ui-avatar-xsmall-statusRing-width) * 2);
      width: calc(100% - var(--gse-ui-avatar-xsmall-statusRing-width) * 2);
      margin: var(--gse-ui-avatar-xsmall-statusRing-width);
      font-size: var(--gse-ui-avatar-xsmall-initials-fontSize);
    }
  }

  &.gux-status-ring {
    &.gux-available {
      background: var(--gse-ui-avatar-statusRing-available);
    }
    &.gux-break {
      background: var(--gse-ui-avatar-statusRing-break);
    }
    &.gux-busy {
      background: var(--gse-ui-avatar-statusRing-busy);
    }
    &.gux-notifications {
      background: var(--gse-ui-avatar-statusRing-notifications);
    }
    &.gux-offline {
      background: var(--gse-ui-avatar-statusRing-offline);
    }
    &.gux-outOfOffice {
      background: var(--gse-ui-avatar-statusRing-outOfOffice);
    }
    &.gux-queue {
      background: var(--gse-ui-avatar-statusRing-queue);
    }
  }
}

.content {
  display: flex;
  color: var(--gse-ui-avatar-media-initialsForeground-inverse);
  font-family: var(--gse-ui-avatar-large-initials-fontFamily);
  font-size: var(--gse-ui-avatar-large-initials-fontSize);
  font-weight: var(--gse-ui-avatar-large-initials-fontWeight);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  border: var(--gse-ui-avatar-content-default-border-width)
    var(--gse-ui-avatar-content-default-border-style)
    var(--gse-ui-avatar-content-default-border-color);
  box-sizing: border-box;
  &.gux-accent-default {
    background-color: var(--gse-ui-avatar-media-initialsBackground-default);
  }
  &.gux-accent-1 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent1);
  }
  &.gux-accent-2 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent2);
  }
  &.gux-accent-3 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent3);
  }
  &.gux-accent-4 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent4);
  }
  &.gux-accent-5 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent5);
  }
  &.gux-accent-6 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent6);
  }
  &.gux-accent-7 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent7);
  }
  &.gux-accent-8 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent8);
  }
  &.gux-accent-9 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent9);
  }
  &.gux-accent-10 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent10);
  }
  &.gux-accent-11 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent11);
  }
  &.gux-accent-12 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent12);
  }
}

::slotted(img) {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
