:host {
  --gse-ui-avatar-statusRing-large-border: 4px;
  --gse-ui-avatar-statusRing-medium-border: 3px;
  --gse-ui-avatar-statusRing-small-border: 2px;
  --gse-ui-avatar-statusRing-xsmall-border: 2px;
  --gse-ui-avatar-content-large-border-width: 2px;
  --gse-ui-avatar-content-border-width: 1px;
  --gse-ui-avatar-content-border-color: white;
  display: inline-block;
  position: relative;
  & button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    &:focus {
      outline: var(--gse-semantic-color-focus) solid
        var(--gse-semantic-focusRing-width);
      outline-offset: var(--gse-semantic-focusRing-offset);
    }
  }
}

.gux-avatar {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  &.gux-large {
    width: var(--gse-ui-avatar-large-size);
    height: var(--gse-ui-avatar-large-size);
    & .content {
      height: calc(100% - var(--gse-ui-avatar-statusRing-large-border) * 2);
      width: calc(100% - var(--gse-ui-avatar-statusRing-large-border) * 2);
      margin: var(--gse-ui-avatar-statusRing-large-border);
      border-width: var(--gse-ui-avatar-content-large-border-width);
      font-size: var(--gse-ui-avatar-large-initials-fontSize);
    }
  }

  &.gux-medium {
    width: var(--gse-ui-avatar-medium-size);
    height: var(--gse-ui-avatar-medium-size);
    & .content {
      height: calc(100% - var(--gse-ui-avatar-statusRing-medium-border) * 2);
      width: calc(100% - var(--gse-ui-avatar-statusRing-medium-border) * 2);
      margin: var(--gse-ui-avatar-statusRing-medium-border);
      font-size: var(--gse-ui-avatar-medium-initials-fontSize);
    }
  }

  &.gux-small {
    width: var(--gse-ui-avatar-small-size);
    height: var(--gse-ui-avatar-small-size);
    & .content {
      height: calc(100% - var(--gse-ui-avatar-statusRing-small-border) * 2);
      width: calc(100% - var(--gse-ui-avatar-statusRing-small-border) * 2);
      margin: var(--gse-ui-avatar-statusRing-small-border);
      font-size: var(--gse-ui-avatar-small-initials-fontSize);
    }
  }

  &.gux-xsmall {
    width: var(--gse-ui-avatar-xsmall-size);
    height: var(--gse-ui-avatar-xsmall-size);
    & .content {
      height: calc(100% - var(--gse-ui-avatar-statusRing-xsmall-border) * 2);
      width: calc(100% - var(--gse-ui-avatar-statusRing-xsmall-border) * 2);
      margin: var(--gse-ui-avatar-statusRing-xsmall-border);
      font-size: var(--gse-ui-avatar-xsmall-initials-fontSize);
    }
  }

  &.gux-status-ring {
    &.gux-available {
      background: var(--gse-ui-avatar-statusRing-available);
    }
    &.gux-break {
      background: var(--gse-ui-avatar-statusRing-break);
    }
    &.gux-busy {
      background: var(--gse-ui-avatar-statusRing-busy);
    }
    &.gux-notifications {
      background: var(--gse-ui-avatar-statusRing-notifications);
    }
    &.gux-offline {
      background: var(--gse-ui-avatar-statusRing-offline);
    }
    &.gux-outOfOffice {
      background: var(--gse-ui-avatar-statusRing-outOfOffice);
    }
    &.gux-queue {
      background: var(--gse-ui-avatar-statusRing-queue);
    }
  }
}

.content {
  display: flex;
  color: var(--gse-ui-avatar-media-initialsForeground-inverse);
  font-family: var(--gse-ui-avatar-large-initials-fontFamily);
  font-size: var(--gse-ui-avatar-large-initials-fontSize);
  font-weight: var(--gse-ui-avatar-large-initials-fontWeight);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  border: var(--gse-ui-avatar-content-border-width) solid
    var(--gse-ui-avatar-content-border-color);
  box-sizing: border-box;
  &.gux-accent-default {
    background-color: var(--gse-ui-avatar-media-initialsBackground-default);
  }
  &.gux-accent-1 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent1);
  }
  &.gux-accent-2 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent2);
  }
  &.gux-accent-3 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent3);
  }
  &.gux-accent-4 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent4);
  }
  &.gux-accent-5 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent5);
  }
  &.gux-accent-6 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent6);
  }
  &.gux-accent-7 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent7);
  }
  &.gux-accent-8 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent8);
  }
  &.gux-accent-9 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent9);
  }
  &.gux-accent-10 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent10);
  }
  &.gux-accent-11 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent11);
  }
  &.gux-accent-12 {
    background-color: var(--gse-ui-avatar-media-initialsBackground-accent12);
  }
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-color: red;
  border-radius: 50%;
  z-index: 1;
}

::slotted(img) {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
