@use '~genesys-spark/dist/scss/mixins.scss';

@mixin button-text {
  font-family: var(--gse-ui-button-text-fontFamily);
  font-size: var(--gse-ui-button-text-fontSize);
  font-weight: var(--gse-ui-button-text-fontWeight);
  line-height: var(--gse-ui-button-text-lineHeight);
}

:host {
  display: block;
  -webkit-user-select: none;
  user-select: none;
}

.gux-action-button-container {
  min-width: 128px;

  & > * {
    vertical-align: middle;
  }

  .gux-action-button {
    width: calc(100% - 33px);
    margin-inline-end: 1px;

    button {
      width: 100%;
      max-width: none;
      text-align: center;
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }
  }

  .gux-dropdown-button {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--gse-ui-button-iconOnly-width);
      padding: 0;
      border-start-start-radius: 0;
      border-end-start-radius: 0;

      gux-icon {
        width: var(--gse-ui-button-icon-size);
        height: var(--gse-ui-button-icon-size);
      }
    }
  }

  .gux-list-container {
    max-width: 220px;
    max-height: var(--gse-ui-menu-maxHeight);

    @include mixins.gux-menu-container;
  }
}
