:host {
  height: 40px; //TODO : COMUI-2327 - missing tab-set token height.
  margin-bottom: 16px; // TODO : COMUI-2237
  border-bottom: var(--gse-ui-tabs-item-divider-horizontal-height) solid
    var(--gse-ui-tabs-item-divider-dividerColor); //TODO: COMUI-2327.
  box-sizing: content-box;
  display: flex;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: transparent; //TODO: COMUI-2327.

  // slotted
  display: flex;
  flex: 1 1 auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 0;
  }
}
